.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
}
.navbar .logo {
  width: 200px;
}

.nav-links,
.nav-links-mobile {
  display: flex;
  list-style: none;
}

.nav-links ul,
.nav-links-mobile ul {
  display: flex;
}

.dropdown {
  font-size: 16px;
  color: #071920;
  line-height: 23px;
  display: block;
  padding: 28px 18px 28px 15px;
  text-decoration: none;
  position: relative;
  cursor: pointer;
}

.contact-button {
  padding: 15px 20px;
  color: #fff;
  border-radius: 4px;
  font-size: 14px;
  line-height: 18px;
  font-weight: 700;
  background: #054c7d;
  border: none;
  cursor: pointer;
}

.contact-button:hover {
  background-color: #0056b3;
}

.dropdown-menu {
  position: absolute;
  top: 80px;
  left: 48%;
  transform: translateX(-50%);
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  display: flex;
  flex-direction: column;
  padding: 5px;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1;
  min-width: max-content;
}

.dropdown-menu li {
  padding: 5px 10px;
  width: auto;
  color: black;
}

.dropdown-menu a {
  color: #333;
  text-decoration: none;
}

.dropdown-heading {
  font-weight: bold;
  margin-bottom: 10px;
  color: #007bff;
  border-bottom: 1px solid #ccc;
  padding-bottom: 3px;
}

.arrow-icon {
  margin-left: 10px;
  font-size: 16px;
}

.nested-dropdown {
  margin-left: 10px;
  display: flex;
  flex-direction: column;
}

/* .nav-links a:hover, */
.dropdown-menu li:hover,
.nav-links-mobile a:hover,
.dropdown:hover {
  color: lightblue;
}

.hamburger-menu {
  display: none;
  cursor: pointer;
  font-size: 24px;
  color: white;
}

@media (max-width: 1130px) {
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    width: 100%;
    /* top: 0; */
    left: 0;
    z-index: 999;
  }
  .nav-links {
    display: none;
  }

  /* Mobile nav-links and dropdown menu */
  .nav-links-mobile {
    position: fixed;
    top: 0;
    right: -100%;
    bottom: 0;
    background-color: pink;
    width: 400px;
    height: 100%;
    padding-top: 70px;
    transition: 0.5s;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    z-index: 10;
  }
  .nav-links ul,
  .nav-links-mobile ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    gap: 20;
  }
  .nav-links {
    display: none;
  }

  .nav-links-mobile {
    position: fixed;
    top: 0;
    right: 0px;
    bottom: 0;
    background: rgb(235, 217, 217);
    z-index: 10;
    width: 300px;
    padding-top: 70px;
    transition: 0.5sec;
  }
  .arrow-icon {
    margin-left: 0;
    font-size: 16px;
  }
  .hamburger-menu {
    display: block;
    color: #0056b3;
  }
  .dropdown {
    color: #fff;
    text-decoration: none;
    padding: 15px 15px;
    display: block;
    margin-left: 40px;
    font-size: 16px;
    color: #071920;
    line-height: 23px;
    display: block;
    /* padding: 28px 18px 28px 15px; */
    text-decoration: none;
    position: relative;
    cursor: pointer;
  }

  .dropdown-menu {
    /* position: relative; */

    background-color: #f9f9f9;
    border: 1px solid #ccc;

    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

    min-width: max-content;
    position: absolute;
    box-shadow: none;
    border: none;
  }
  .dropdown-menu li {
    /* padding: 5px 10px; */
    width: auto;
    height: auto;
  }
}

/* do not make any changes*******************************************************************************/
/* .navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 999;
}
.navbar .logo {
  width: 200px;
}

.nav-links,
.nav-links-mobile {
  display: flex;
  list-style: none;
}

.nav-links ul,
.nav-links-mobile ul {
  display: flex;
}

.dropdown {
  font-size: 16px;
  color: #071920;
  line-height: 23px;
  display: block;
  padding: 28px 18px 28px 15px;
  text-decoration: none;
  position: relative;
  cursor: pointer;
}

.contact-button {
  padding: 15px 20px;
  color: #fff;
  border-radius: 4px;
  font-size: 14px;
  line-height: 18px;
  font-weight: 700;
  background: #054c7d;
  border: none;
  cursor: pointer;
}

.contact-button:hover {
  background-color: #0056b3;
}

.dropdown-menu {
  position: absolute;
  top: 80px;
  left: 48%;
  transform: translateX(-50%);
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  display: flex;
  flex-direction: column;
  padding: 5px;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1;
  min-width: max-content;
}

.dropdown-menu li {
  padding: 5px 10px;
  width: auto;
}

.dropdown-menu a {
  color: #333;
  text-decoration: none;
}

.dropdown-heading {
  font-weight: bold;
  margin-bottom: 10px;
  color: #007bff;
  border-bottom: 1px solid #ccc;
  padding-bottom: 3px;
}

.arrow-icon {
  margin-left: 10px;
  font-size: 16px;
}

.nested-dropdown {
  margin-left: 10px;
  display: flex;
  flex-direction: column;
}

.nav-links a:hover,
.nav-links-mobile a:hover,
.dropdown:hover {
  color: lightblue;
}

.hamburger-menu {
  display: none;
  cursor: pointer;
  font-size: 24px;
  color: white;
}

@media (max-width: 1130px) {
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    width: 100%;
    /* top: 0; */
/* left: 0;
    z-index: 999;
  }
  .nav-links ul,
  .nav-links-mobile ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    /* margin-top: 10px; */
/* gap: 20;
  }
  .nav-links {
    display: none;
  }

  .nav-links-mobile {
    position: fixed;
    top: 0;
    right: 0px;
    bottom: 0;
    background: pink;
    z-index: 10;
    width: 300px;
    padding-top: 70px;
    transition: 0.5sec;
  }
  .arrow-icon {
    margin-left: 100px;
    font-size: 16px;
  }
  .hamburger-menu {
    display: block;
    color: #0056b3;
  }
  .nav-links-mobile a,
  .nav-links button,
  .dropdown span {
    color: #fff;
    text-decoration: none;
    padding: 15px 15px;
    display: block;
  }

  .dropdown-menu {
    position: static;
    box-shadow: none;
    border: none;
  }
}  */
